body {
	background-color: lightblue;
}

#Timer{

	position: absolute;
	text-align: center;
	top:0px;
	height:12vh;
	width: 100vw;
	font-size: 100;
	color: navy;
	z-index: 0;
}

#Stopwatch{
	position: absolute;
	text-align: center;
	top:100px;
	height:12vh;
	width: 100vw;
	font-size: 100;
	color: navy;
	z-index: -2;
}

#timerclk{

	position: absolute;
	text-align: center;
	top:200px;
	height:12vh;
	width: 100vw;
	font-size: 100;
	color: navy;
	z-index: -1;

}

#buttons {

	position: absolute;
	text-align: center;
	top:300px;

	text-align: center;
	width: 100vw;
	height:50vh;
}

button {


	webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
	border-radius: 8px;
	background-color:grey;
	border: 2px black;
	font-size: 5vh;

}
button:hover{
	background-color: lightblue;

}
